@use 'uplord-ui/styles/forward' as *;
@use 'sass:color';

.page {
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 3rem;
  transition: all 0.3s ease;

  @media (min-width: $breakpoint-md) {
    gap: 4rem;
  }

  @media (min-width: $breakpoint-lg) {
    gap: 8rem;
  }
}

.section {
  padding: 2rem 0;
}

.container {
  @include container;
}

.text {
  text-align: center;

  h1 {
    @include text-4xl;
    @include text-bold;

    & {
      color: var(--heading-color);
    }
  }
}
