@use 'uplord-ui/styles/forward' as *;
@use './normalize';

.light {
  background: var(--bg-color);
  color: var(--body-color);
}

.dark {
  background: var(--bg-dark-color);
  color: var(--body-dark-color);
}

body {
  color: var(--body-color);
  overflow-y: auto;

  @include dark-mode {
    color: var(--body-dark-color);
  }
}

.stop-scroll {
  position: relative;
  overflow: hidden;
}

.grecaptcha-badge {
  display: none !important;
}
