@use 'uplord-ui/styles/forward' as *;
@use './normalize';

.light {
  background: $color-light;
  color: $color-body;
}

.dark {
  background: $color-dark;
  color: $color-body-dark;
}

body {
  color: $color-body;
  overflow-y: auto;

  @include dark-mode {
    color: $color-body-dark;
  }
}

.admin {
  background: $color-dark;
}

.stop-scroll {
  position: relative;
  overflow: hidden;
}

.grecaptcha-badge {
  display: none !important;
}
